// Import Bootstrap and icons
@use "bootstrap/scss/bootstrap";
@use "bootstrap-icons/font/bootstrap-icons";

// Import partials
@use "partials/variables" as vars;
@use "partials/mixins";
@use "partials/layout"; // Layout includes footer styles
@use "partials/workouts";
@use "partials/tables";
@use "partials/buttons";
@use "partials/responsive";

// Global styles
body {
  background-color: vars.$background-color;
  color: vars.$text-color;
  font-family: vars.$font-family;
}
